:root {
    --verde: #17A2B8;
    --verdeEscuro: #16889c;
    --cinzaEscuro: #31333C;
    --cinzaClaro: #e0e3f0;
    --cinzaClaro2: #f0f3ff;
    --amarelo: #FFC009;
    --amareloEscuro: #d8a40a;
    --vermelho: #fa3535;
    --vermelhoEscuro: #cc2929;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.nav_login {
    background-color: var(--cinzaEscuro);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px;

    display: flex;
    justify-content: space-between;
}

.nav_login a {
    color: var(--cinzaClaro2);
}

.login, .criar_usuario {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--verde);
    position: relative;
}

.login > form, .criar_usuario > form {
    display: flex;
    flex-direction: column;
    background-color: var(--cinzaClaro);
    padding: 30px 15px;
    border-radius: 5px;
    width: 95%;
    max-width: 350px;
}

.login > form input, .criar_usuario > form input {
    width: 100%;
    height: 30px;
    border: 1px solid var(--cinzaClaro);
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
}

.login > form input:focus, .criar_usuario > form input:focus {
    outline: none;
}

.login > form label, .criar_usuario > form label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--cinzaEscuro);
}

.login > form button, .criar_usuario > form button{
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: var(--verde);
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    margin-bottom: 15px;
}

.login > form button:hover, .criar_usuario > form button:hover {
    background-color: var(--verdeEscuro);
    transition: 0.5s;
}

.login > form p, .criar_usuario > form p {
    color: var(--cinzaEscuro);
    font-size: 14px;
}

.login > form p a, .criar_usuario > form a {
    color: var(--verde);
}

/* VALIDAÇÕES */

.alert-danger {
    display: flex;
    align-items: center;

    background-color: #F8D7DA;
    color: #ff2525;
    border-radius: 3px;
    padding: 0 30px;
    height: 40px;
    width: 80%;
    position: absolute;
    top: 10px;
}

.alert-danger i {
    margin-right: 10px;
}

.alert-cadastrado {
    display: flex;
    align-items: center;

    background-color: #D1E7DD;
    color: #0F5132;
    border-radius: 3px;
    padding: 0 30px;
    height: 40px;
    width: 80%;
    position: absolute;
    top: 10px;
}

.alert-cadastrado i {
    margin-right: 10px;
}

/* PAINEL */

.painel, .chamados_abertos {
    background-color: var(--verde);
    width: 100%;
    height: calc(100vh - 60px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.painel .menu {
    width: 98%;
    max-width: 600px;
    border-radius: 5px;

    background-color: var(--cinzaClaro2);
}

.painel .menu h4 {
    color: var(--cinzaEscuro);
    background-color: var(--cinzaClaro);
    font-weight: bold;
    padding: 15px 15px;
    border-radius: 5px;
}

.painel .menu > div {
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
}

.painel .menu > div img {
    width: 120px;
}

/* PAGINA DE CHAMADOS */

.chamados {
    background-color: var(--cinzaClaro2);
    width: 98%;
    height: 500px;
    max-width: 700px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chamados h4 {
    color: var(--cinzaEscuro);
    background-color: var(--cinzaClaro);
    padding: 15px 15px;
    border-radius: 5px;
}

.chamados .lista_chamados {
    height: 400px;
    
    overflow-y: scroll;
}

.chamados .lista_chamados div {
    background-color: #fff;
    padding: 5px 10px;
    margin: 10px 5px;
}

.chamados > div h2, h3, p {
    color: var(--cinzaEscuro);
    margin: 5px 0;
}

.chamados .btn_voltar {
    background-color: var(--amarelo);
    color: var(--cinzaEscuro);
    font-weight: bold;
    width: 150px;
    height: 30px;
    margin: 5px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
