:root {
    --verde: #17A2B8;
    --verdeEscuro: #16889c;
    --cinzaEscuro: #31333C;
    --cinzaClaro: #e0e3f0;
    --cinzaClaro2: #f0f3ff;
    --amarelo: #FFC009;
    --amareloEscuro: #d8a40a;
    --vermelho: #fa3535;
    --vermelhoEscuro: #cc2929;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.nav_login {
    background-color: var(--cinzaEscuro);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.nav_login a {
    color: var(--cinzaClaro2);
}

.login, .criar_usuario {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cinzaClaro2);
}

.login > form, .criar_usuario > form {
    display: flex;
    flex-direction: column;
    background-color: var(--cinzaClaro);
    padding: 30px 15px;
    border-radius: 5px;
    width: 95%;
    max-width: 350px;
}

.login > form input, .criar_usuario > form input {
    width: 100%;
    height: 30px;
    border: 1px solid var(--cinzaClaro);
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
}

.login > form input:focus, .criar_usuario > form input:focus {
    outline: none;
}

.login > form label, .criar_usuario > form label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--cinzaEscuro);
}

.login > form button{
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: var(--verde);
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    margin-bottom: 15px;
}

.login > form button:hover {
    background-color: var(--verdeEscuro);
    transition: 0.5s;
}

.login > form p {
    color: var(--cinzaEscuro);
    font-size: 14px;
}

.login > form p a {
    color: var(--verde);
}


/* Pagia de decadastro */
.criar_usuario > form button {
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: var(--verde);
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
}

.criar_usuario > form button:hover {
    background-color: var(--verdeEscuro);
    transition: 0.5s;
}